<div [ngStyle]="{ background: contador < 4 ? 'red' : 'green' }"> O contador é: {{ contador }}</div>
<div [ngClass]="{ custom: contador > 4 }"> O contador é: {{ contador }}</div>

<div *ngIf="contador > 5. else menor">Contador passou de 5</div>

<ng-template #menor>
  <div>Contador menor que 5</div>
</ng-template>

<div [ngSwitch]="contador">
  <div *ngSwitchCase="3">Igual a 3</div>
  <div *ngSwitchCase="5">é 5</div>
  <div *ngSwitchCase="8">Igual a 8</div>
  <div *ngSwitchDefault>Default Switch</div>
</div>
